.container {
  display: flex;
  flex-wrap: wrap;
  /* flex: 0 0 100%; */
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
  
}

.card {
  width: 30%;
  /* width: 250px;  */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0px;
  height: 18.69rem;
  position: relative;
  
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
}

.form-box input,
.form-box textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  
}








/* .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  grid-gap: 20px; /* Space between items */
  padding: 20px; /* Adjust the padding to your liking */
} */

/* .card {
  width: 100%; /* Take up the full width of the grid cell */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
} */